.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

#container {
  height: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
}

.leaflet-container {
  flex-grow: 1
}

.App-header {
  background-color: #5fbcd3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 10%;
}

.header-logo {
  width: 18%;
  max-height: 60px;
  max-width: 60px;
}

.App-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shopTab {
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  font-size: 4vw;
  font-weight: bold;
}

.shopList {
  display: flex;
  flex-grow: 12;
  flex-direction: column;
  flex-basis: 0;
  overflow-y: scroll;
}

div.none{
  background-color: #2c89A0;
  width: calc(100% / 3) ;
}
div.shop-none {
  color: black;
  width: calc(100% / 5) ;
}

div.current{
  background-color: #5fbcd3;
  width: calc(100% / 3) ;
}
div.shop-current {
  color: orange;
  width: calc(100% / 5) ;
}

.header-title {
  font-size: 5vw;
}

.navImage {
  width: 40%;
  height: 40%;
  max-height: 55px;
  max-width: 55px;
}

.sightseeingBtn {
  margin: 10px;
  background-color: #9bdff0;
  font-size: 5vw;
}
